# Instagram Publisher (skill insta-mvp)
# Preencha os valores abaixo. Nunca commite este arquivo com as chaves preenchidas.

IMGBB_API_KEY=9c2c9292480a5a4352be4e12b3e55c5c
INSTAGRAM_ACCESS_TOKEN=EAAmsPCDDxQgBQ24lCCzFFfZAkXS3gWLJ4cm4TolihIA5EPPQPHZCZApuZCC6dzDZCofPi6Ut63XHPojDZCI5Q07ZCPKypww0708mhnNY460RRVybDxQIJ91t4OOysRR6kKFWPtWZCCkFLeo65m8mZCMhgAZBbJJsmMKq6NmLPELQASiANVVJmZBnya9h6bMYr8QI1WeFQDognfv43HFT0VhkdvPDmMlZAH2otZCTsgQ74
INSTAGRAM_USER_ID=17841477678595351
